build/chart-1.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Charts</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/charts.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css"/>
    <link rel="stylesheet" href="css/select2.min.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/charts.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content-left">
        <ul class="operators-menu">
          <li>Central: MegaFon</li>
          <li>Central: MTS</li>
          <li>North-West: MegaFon</li>
          <li>North-West: MTS</li>
        </ul>
        <table class="tab-info">
          <tr>
            <th class="td-names"></th>
            <th class="td-views">Views</th>
            <th class="td-stalls">Stalls</th>
          </tr>
          <tr>
            <td class="td-names">Central : MegaFon</td>
            <td class="td-views"><span class="chart-line chart-line--central-megafon-views"><span class="data-info">161</span><span class="data-changes data-down">-1.4%</span></span></td>
            <td class="td-stalls"> <span class="chart-line chart-line--central-megafon-stalls"><span class="data-info">187</span><span class="data-changes data-down">-1.4%</span></span></td>
          </tr>
          <tr>
            <td class="td-names">Central : MTS</td>
            <td class="td-views"><span class="chart-line chart-line--central-mts-views"><span class="data-info">141</span><span class="data-changes data-down">-5.0%</span></span></td>
            <td class="td-stalls"><span class="chart-line chart-line--central-mts-stalls"><span class="data-info">160</span><span class="data-changes data-down">-2.5%</span></span></td>
          </tr>
          <tr>
            <td class="td-names">North-West : MegaFon</td>
            <td class="td-views"><span class="chart-line chart-line--nw-megafon-views"><span class="data-info">132</span><span class="data-changes data-up">+1.4%</span></span></td>
            <td class="td-stalls"><span class="chart-line chart-line--nw-megafon-stalls"><span class="data-info">141</span><span class="data-changes data-up">+2.7%</span></span></td>
          </tr>
          <tr>
            <td class="td-names">North-West : MTS</td>
            <td class="td-views"><span class="chart-line chart-line--nw-mts-views"><span class="data-info">48</span><span class="data-changes data-up">+1.4%</span></span></td>
            <td class="td-stalls"><span class="chart-line chart-line--nw-mts-stalls"><span class="data-info">56</span><span class="data-changes data-up">+2.7%</span></span></td>
          </tr>
        </table>
        <div class="chart-mobile-info">
          <div id="chart-1" style="min-width: 310px; max-width: 900px; height: 500px;"></div>
        </div>
        <table class="tab-total-info">
          <tr>
            <th></th>
            <th>Cental : MegaFon</th>
            <th>Cental : MTS</th>
            <th>North-West : MegaFon</th>
            <th>North-West : MTS</th>
          </tr>
          <tr>
            <td class="tab-total-info-time">
              <table>
                <tr>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td> <span>00:00</span><span class="date"> JUN 03 </span></td>
                </tr>
                <tr>
                  <td> <span>03:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>06:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>09:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>12:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>15:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>18:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>21:00</span><span class="date"> JUN 03</span></td>
                </tr>
                <tr>
                  <td> <span>00:00</span><span class="date"> JUN 04</span></td>
                </tr>
              </table>
            </td>
            <td class="tab-total-info-data">
              <table>
                <tr>
                  <th>Views</th>
                  <th>Stalls</th>
                </tr>
                <tr>
                  <td> <span>219</span><span class="data-down"> -1.4%</span></td>
                  <td> <span>296</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>61</span><span class="data-up"> +9.0%</span></td>
                  <td> <span>82</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>39</span><span class="data-up"> +4.1%</span></td>
                  <td> <span>70</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>55</span><span class="data-up"> +7.4%</span></td>
                  <td> <span>86</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>161</span><span class="data-down"> -1.1%</span></td>
                  <td> <span>187</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>177</span><span class="data-down"> -5.7%</span></td>
                  <td> <span>241</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>269</span><span class="data-down"> -6.3%</span></td>
                  <td> <span>288</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>278</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>296</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>247</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>278</span><span class="data-down"> -3.3%</span></td>
                </tr>
              </table>
            </td>
            <td class="tab-total-info-data"> 
              <table>
                <tr>
                  <th>Views</th>
                  <th>Stalls</th>
                </tr>
                <tr>
                  <td> <span>232</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>234</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>68</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>53</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>28</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>22</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>67</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>56</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>160</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>141</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>183</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>163</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>258</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>300</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>314</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>236</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>360</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>381</span><span class="data-down"> -3.3%</span></td>
                </tr>
              </table>
            </td>
            <td class="tab-total-info-data">
              <table>
                <tr>
                  <th>Views</th>
                  <th>Stalls</th>
                </tr>
                <tr>
                  <td> <span>68</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>97</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>36</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>47</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>16</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>27</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>15</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>29</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>48</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>56</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>138</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>93</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>134</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>147</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>124</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>137</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>74</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>120</span><span class="data-down"> -3.3%</span></td>
                </tr>
              </table>
            </td>
            <td class="tab-total-info-data"> 
              <table>
                <tr>
                  <th>Views</th>
                  <th>Stalls</th>
                </tr>
                <tr>
                  <td> <span>162</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>235</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>54</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>90</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>29</span><span class="data-up"> +4.8%</span></td>
                  <td><span>41</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>54</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>70</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>132</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>141</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>254</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>257</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>256</span><span class="data-up"> +4.8%</span></td>
                  <td> <span>263</span><span class="data-down"> -3.3%</span></td>
                </tr>
                <tr>
                  <td> <span>302</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>348</span><span class="data-up"> +4.8%</span></td>
                </tr>
                <tr>
                  <td> <span>332</span><span class="data-down"> -3.3%</span></td>
                  <td> <span>332</span><span class="data-up"> +4.8%</span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <aside class="right-menu">
        <form action="">
          <div class="menu-date">
            <input type="text" id="from" name="from" class="menu-date__start"/><span class="menu-date__between">&mdash;</span>
            <input type="text" id="to" name="to" class="menu-date__end"/>
          </div>
          <div class="step"><span class="step__item">Шаг: </span>
            <select class="js-single">
              <option value="1">1 час</option>
              <option value="2">2 часа</option>
              <option value="3">3 часа</option>
            </select>
          </div>
          <div class="compare"><span class="compare__item">Сравнить с: </span>
            <select class="js-single">
              <option value="1">пред. 2 днями (2016-07-16)</option>
              <option value="2">пред. 3 днями (2016-07-17)</option>
              <option value="3">пред. 4 днями (2016-07-18)</option>
            </select>
          </div>
          <div class="form-countries">
            <div class="js-menu">
              <div class="chb-info">
                <input type="checkbox"/><span class="label-input country">Все страны</span>
              </div>
            </div>
            <div class="level-1">
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">Австралия</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Австралия 1</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Австралия 2</span>
                </div>
              </div>
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">Россия</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Северо-Запад</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Урал</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Центр</span>
                </div>
              </div>
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">Япония</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Япония 1</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">Япония 2</span>
                </div>
              </div>
              <div class="chart-select--left">
                <select class="js-single">
                  <option value="Разделять по регионам">Разделять по регионам</option>
                  <option value="Объединить">Объединить</option>
                  <option value="Разделить по регионам">Разделить по регионам</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-operators">
            <div class="js-menu">
              <div class="chb-info">
                <input type="checkbox"/><span class="label-input country">Все операторы</span>
              </div>
            </div>
            <div class="level-1">
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">Теле2</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">16722</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">17893</span>
                </div>
              </div>
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">Мегафон</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">16722</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">17893</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">37804</span>
                </div>
              </div>
              <div class="js-menu">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input country">МТС</span>
                </div>
              </div>
              <div class="level-2">
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">16722</span>
                </div>
                <div class="chb-info">
                  <input type="checkbox"/><span class="label-input">17893</span>
                </div>
              </div>
              <div class="chart-select--left">
                <select class="js-single">
                  <option value="Разделить по операторам">Разделить по операторам</option>
                  <option value="Объединить">Объединить</option>
                  <option value="Разделить по авт. системам">Разделить по авт. системам</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-dop-info">
            <select multiple="multiple" style="width: 280px" class="js-multiple">
              <option value="Сессии, тыс">Сессии, тыс</option>
              <option value="Длит. загрузки, с.">Длит. загрузки, с.</option>
              <option value="Сессии, тыс">Сессии, тыс1</option>
              <option value="Длит. загрузки, с.">Длит. загрузки, с.2</option>
            </select>
          </div>
          <input type="submit" value="Обновить" class="right-menu-submit"/>
        </form>
      </aside>
    </div>
  </body>
</html>

src/chart-1.jade
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Charts
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/charts.css")
		link(rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css")
		link(rel="stylesheet" href="css/select2.min.css")
		link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
		script(src="https://code.highcharts.com/highcharts.js")
		script(src="https://code.highcharts.com/modules/exporting.js")
		script(src="js/select2.min.js")
		script(src="js/charts.js")
	body
		.wrapper
			.content-left
				ul.operators-menu
					li Central: MegaFon
					li Central: MTS
					li North-West: MegaFon
					li North-West: MTS
				table.tab-info
					tr
						th.td-names
						th.td-views Views
						th.td-stalls Stalls
					tr
						td.td-names Central : MegaFon
						td.td-views
							span.chart-line.chart-line--central-megafon-views
								span.data-info 161
								span.data-changes.data-down -1.4%
						td.td-stalls 
							span.chart-line.chart-line--central-megafon-stalls
								span.data-info 187
								span.data-changes.data-down -1.4%
					tr
						td.td-names Central : MTS
						td.td-views
							span.chart-line.chart-line--central-mts-views
								span.data-info 141
								span.data-changes.data-down -5.0%
						td.td-stalls
							span.chart-line.chart-line--central-mts-stalls
								span.data-info 160
								span.data-changes.data-down -2.5%
					tr
						td.td-names North-West : MegaFon
						td.td-views
							span.chart-line.chart-line--nw-megafon-views
								span.data-info 132
								span.data-changes.data-up +1.4%
						td.td-stalls
							span.chart-line.chart-line--nw-megafon-stalls
								span.data-info 141
								span.data-changes.data-up +2.7%
					tr
						td.td-names North-West : MTS
						td.td-views
							span.chart-line.chart-line--nw-mts-views
								span.data-info 48
								span.data-changes.data-up +1.4%
						td.td-stalls
							span.chart-line.chart-line--nw-mts-stalls
								span.data-info 56
								span.data-changes.data-up +2.7%

				.chart-mobile-info
					#chart-1(style="min-width: 310px; max-width: 900px; height: 500px;")

				table.tab-total-info
					tr
						th
						th Cental : MegaFon
						th Cental : MTS
						th North-West : MegaFon
						th North-West : MTS
					tr
						td.tab-total-info-time
							table
								tr
									th &nbsp;
								tr
									td 
										span 00:00
										span.date  JUN 03 
								tr
									td 
										span 03:00
										span.date  JUN 03
								tr
									td 
										span 06:00
										span.date  JUN 03
								tr
									td 
										span 09:00
										span.date  JUN 03
								tr
									td 
										span 12:00
										span.date  JUN 03
								tr
									td 
										span 15:00
										span.date  JUN 03
								tr
									td 
										span 18:00
										span.date  JUN 03
								tr
									td 
										span 21:00
										span.date  JUN 03
								tr
									td 
										span 00:00
										span.date  JUN 04
						td.tab-total-info-data
							table
								tr
									th Views
									th Stalls
								tr
									td 
										span 219
										span.data-down  -1.4%
									td 
										span 296
										span.data-down  -3.3%
								tr
									td 
										span 61
										span.data-up  +9.0%
									td 
										span 82
										span.data-down  -3.3%
								tr
									td 
										span 39
										span.data-up  +4.1%
									td 
										span 70
										span.data-down  -3.3%
								tr
									td 
										span 55
										span.data-up  +7.4%
									td 
										span 86
										span.data-up  +4.8%
								tr
									td 
										span 161
										span.data-down  -1.1%
									td 
										span 187
										span.data-down  -3.3%
								tr
									td 
										span 177
										span.data-down  -5.7%
									td 
										span 241
										span.data-down  -3.3%
								tr
									td 
										span 269
										span.data-down  -6.3%
									td 
										span 288
										span.data-up  +4.8%
								tr
									td 
										span 278
										span.data-up  +4.8%
									td 
										span 296
										span.data-down  -3.3%
								tr
									td 
										span 247
										span.data-down  -3.3%
									td 
										span 278
										span.data-down  -3.3%
						td.tab-total-info-data 
							table
								tr
									th Views
									th Stalls
								tr
									td 
										span 232
										span.data-down  -3.3%
									td 
										span 234
										span.data-up  +4.8%
								tr
									td 
										span 68
										span.data-down  -3.3%
									td 
										span 53
										span.data-down  -3.3%
								tr
									td 
										span 28
										span.data-up  +4.8%
									td 
										span 22
										span.data-down  -3.3%
								tr
									td 
										span 67
										span.data-down  -3.3%
									td 
										span 56
										span.data-down  -3.3%
								tr
									td 
										span 160
										span.data-down  -3.3%
									td 
										span 141
										span.data-down  -3.3%
								tr
									td 
										span 183
										span.data-up  +4.8%
									td 
										span 163
										span.data-down  -3.3%
								tr
									td 
										span 258
										span.data-up  +4.8%
									td 
										span 300
										span.data-up  +4.8%
								tr
									td 
										span 314
										span.data-up  +4.8%
									td 
										span 236
										span.data-down  -3.3%
								tr
									td 
										span 360
										span.data-down  -3.3%
									td 
										span 381
										span.data-down  -3.3%
						td.tab-total-info-data
							table
								tr
									th Views
									th Stalls
								tr
									td 
										span 68
										span.data-down  -3.3%
									td 
										span 97
										span.data-up  +4.8%
								tr
									td 
										span 36
										span.data-down  -3.3%
									td 
										span 47
										span.data-up  +4.8%
								tr
									td 
										span 16
										span.data-down  -3.3%
									td 
										span 27
										span.data-down  -3.3%
								tr
									td 
										span 15
										span.data-up  +4.8%
									td 
										span 29
										span.data-down  -3.3%
								tr
									td 
										span 48
										span.data-up  +4.8%
									td 
										span 56
										span.data-down  -3.3%
								tr
									td 
										span 138
										span.data-down  -3.3%
									td 
										span 93
										span.data-up  +4.8%
								tr
									td 
										span 134
										span.data-down  -3.3%
									td 
										span 147
										span.data-down  -3.3%
								tr
									td 
										span 124
										span.data-up  +4.8%
									td 
										span 137
										span.data-down  -3.3%
								tr
									td 
										span 74
										span.data-down  -3.3%
									td 
										span 120
										span.data-down  -3.3%
						td.tab-total-info-data 
							table
								tr
									th Views
									th Stalls
								tr
									td 
										span 162
										span.data-down  -3.3%
									td 
										span 235
										span.data-down  -3.3%
								tr
									td 
										span 54
										span.data-up  +4.8%
									td 
										span 90
										span.data-up  +4.8%
								tr
									td 
										span 29
										span.data-up  +4.8%
									td
										span 41
										span.data-up  +4.8%
								tr
									td 
										span 54
										span.data-down  -3.3%
									td 
										span 70
										span.data-up  +4.8%
								tr
									td 
										span 132
										span.data-down  -3.3%
									td 
										span 141
										span.data-down  -3.3%
								tr
									td 
										span 254
										span.data-down  -3.3%
									td 
										span 257
										span.data-down  -3.3%
								tr
									td 
										span 256
										span.data-up  +4.8%
									td 
										span 263
										span.data-down  -3.3%
								tr
									td 
										span 302
										span.data-down  -3.3%
									td 
										span 348
										span.data-up  +4.8%
								tr
									td 
										span 332
										span.data-down  -3.3%
									td 
										span 332
										span.data-up  +4.8%
			aside.right-menu
				form(action="")
					.menu-date
						input(type="text" id="from" name="from").menu-date__start
						span.menu-date__between &mdash;
						input(type="text" id="to" name="to").menu-date__end
					.step
						span.step__item Шаг: 
						select.js-single
							option(value="1") 1 час
							option(value="2") 2 часа
							option(value="3") 3 часа

					.compare
						span.compare__item Сравнить с: 
						select.js-single
							option(value="1") пред. 2 днями (2016-07-16)
							option(value="2") пред. 3 днями (2016-07-17)
							option(value="3") пред. 4 днями (2016-07-18)
					.form-countries
						.js-menu
							.chb-info
								input(type="checkbox")
								span.label-input.country Все страны
						.level-1
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country Австралия
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input Австралия 1
								.chb-info
									input(type="checkbox")
									span.label-input Австралия 2
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country Россия
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input Северо-Запад
								.chb-info
									input(type="checkbox")
									span.label-input Урал
								.chb-info
									input(type="checkbox")
									span.label-input Центр
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country Япония
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input Япония 1
								.chb-info
									input(type="checkbox")
									span.label-input Япония 2
							.chart-select--left
								select.js-single
									option(value="Разделять по регионам") Разделять по регионам
									option(value="Объединить") Объединить
									option(value="Разделить по регионам") Разделить по регионам
					.form-operators
						.js-menu
							.chb-info
								input(type="checkbox")
								span.label-input.country Все операторы
						.level-1
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country Теле2
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input 16722
								.chb-info
									input(type="checkbox")
									span.label-input 17893
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country Мегафон
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input 16722
								.chb-info
									input(type="checkbox")
									span.label-input 17893
								.chb-info
									input(type="checkbox")
									span.label-input 37804
							.js-menu
								.chb-info
									input(type="checkbox")
									span.label-input.country МТС
							.level-2
								.chb-info
									input(type="checkbox")
									span.label-input 16722
								.chb-info
									input(type="checkbox")
									span.label-input 17893
							.chart-select--left
								select.js-single
									option(value="Разделить по операторам") Разделить по операторам
									option(value="Объединить") Объединить
									option(value="Разделить по авт. системам") Разделить по авт. системам
					.form-dop-info
						select(multiple="multiple" style="width: 280px").js-multiple
							option(value="Сессии, тыс") Сессии, тыс
							option(value="Длит. загрузки, с.") Длит. загрузки, с.
							option(value="Сессии, тыс") Сессии, тыс1
							option(value="Длит. загрузки, с.") Длит. загрузки, с.2
					input(type="submit" value="Обновить").right-menu-submit
